.flexGrow {
    flex-grow: 1;
}
.flexVerticalCenter{
    align-items: center;
}
div{
    font-family: 微软雅黑;
}
.flex {
    display: flex;
}
.marginTop_10px{
    margin-top: 10px;
}
.marginLeft_5px{
    margin-left: 5px;
}

.fontBig{
    font-size:19px;
}

.fontSmall{
    font-size:15px;
}
@colorBlue: #4ba8f3;
@colorBlueDarken: darken(@colorBlue, 10%);
.buttonBox{
    padding: 40px;
}
